:root {
  --primary-text-color: #000000;
  --secondary-text-color: #8e8e93;
  --active-color: #2f80ed;
  --accept-color: #27ae60;
  --reject-color: #eb5757;
  --disabled-color: #e0e0e0;
  --icon-fiil: #828282;

  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;

  --border-radius-4: 4px;
  --border-radius-14: 14px;
  --border-radius-20: 20px;
}
