@use "@styles/utils" as *;
.search {
  position: relative;
  display: flex;
  align-items: center;
  width: 380px;

  input {
    padding-right: 30px;
  }

  &__Btn {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    border-left: 2px solid var(--border-color);

    svg {
      fill: var(--active-color);
      width: 24px;
      height: 100%;
      pointer-events: none;
    }
  }
}

.tablet {
  display: none;

  @include media-768 {
    display: block;
  }
}
