@use "@styles/utils" as *;
.adminHeader {
  position: relative;
  background-color: var(--background-primary);

  :global(.container) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .desktopSearch {
    display: none;

    @include media-768 {
      display: block;
    }
  }
  & .desktopProfile {
    display: none;

    .profile__name {
      color: red;
    }

    @include media-768 {
      display: flex;
    }
  }
}
