.content {
  background-color: red;
  opacity: 1;
  transition: all 2s linear;
  overflow: hidden;

  @starting-style {
    opacity: 0;
  }
}

.hidden {
  opacity: 0;
}

.visible {
  background-color: aqua;
}
